.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;

  &__content {
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__headline {
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
  }

  &__signature {
    height: 171px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
  }

  &__content-text {
    display: none;
    //margin-top: 132px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
 
    &--link {
      text-decoration-line: underline;
      color: white;
    }
  }

  &__content-inner {
    width: 90%;
    margin: 0 auto;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}