.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;

  &__content {
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__headline {
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
  }

  &__signature {
    height: 171px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
  }

  &__content-text {
    display: none;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
 
    &--link {
      text-decoration-line: underline;
      color: white;
    }
  }

  &__content-inner {
    width: 80%;
    margin: 0 auto;
  }
}

// .text-js{
//   opacity: 0;
// }
// .cursor{
//   display: block;
//   position: absolute;
//   height: 100%;
//   top: 8px;
//   right: -5px;
//   width: 2px;
//   /* Change colour of Cursor Here */
//   background-color: white;
//   z-index: 1;
//   animation: flash 0.5s none infinite alternate;
// }
// @keyframes flash{
//   0%{
//     opacity: 1;
//   }
//   100%{
//     opacity: 0;
//   }
// }
