.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__content-text {
    display: none;
    width: 75%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 114.62%;

    @media (min-width: 768px) {
      width: 67%;
      font-size: 24px;
    }
 
    &--link {
      color: #FF4343;
    }
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    text-align: left; 
    
    &--name {
      margin: 0;
      padding-left: 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 114.62%;

      @media (min-width: 768px) {
        padding-left: 220px;
        font-size: 64px;
      }
    }

    &--text {
      margin-top: 65px;
      padding: 0;
    }

    &--redcube {
      position: relative;
      border: 4px solid #FF4343;
      background-color: #000;
      z-index: 1;
    }

    &--redcube::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 2%;
      width: 100%;
      height: 50%;
      background-color: #000;
      z-index: -1;
    }

    &--redcube::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 2%;
      width: 100%;
      height: 56%;
      background-color: #000;
      z-index: -1;
    }

    &--disc {
      padding-left: 20px;
      margin: 0;
      z-index: 2;
      background-color: #000;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 114.62%;

      @media (min-width: 768px) {;
        font-size: 24px;
      }
    }
  }

}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}