.contacts {
  padding: 0;
  margin: auto;
  color: white;

  &__content {
    width: 90%;
    margin: auto;
    height: 200px;
  }

  &__headline {
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
  }

  &__address {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
  }

  &__map {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
}

.ymaps-layers-pane {
  filter: grayscale(100%);
  filter: url(/img/filters.svg#grayscale); /* Firefox 3.5+ */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
