.contacts {
  padding: 0;
  width: 90%;
  margin: auto;

  &__content {
    height: 200px;
    color:  #4F4F4F;;
  }
  &__headline {
  }
  &__address {
  }
  &__map {
    
  }
}

.ymaps-layers-pane {
  filter: grayscale(100%);
  filter: url(/img/filters.svg#grayscale); /* Firefox 3.5+ */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
