.contacts {
  padding: 0;
  margin: auto;
  color: white;

  &__content {
    width: 77%;
    margin: auto;

    @media (min-width: 768px) {
      width: 80%;
    }
  }

  &__headline {
    margin: 0;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      padding-bottom: 52px;
    }
  }

  &__address {
    margin: 0;
    padding-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;

    @media (min-width: 768px) {
      padding-bottom: 16px;
    }
  }

  &__map {
    width: 80%;
    height: 340px;
    padding-top: 54px;
    padding-bottom: 80px;
    margin: 0 auto;

    @media (min-width: 768px) {
      height: 680px;
      padding-top: 47px;
    }
  }
}

.ymaps-layers-pane {
  filter: grayscale(100%);
  filter: url(/img/filters.svg#grayscale); /* Firefox 3.5+ */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}
