.feedback {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 36px ; //92px
  margin-bottom: 180px;
  padding: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 166px; //222px
  }

  &__form {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: auto;

    @media (min-width: 768px) {
      width: 80%;
      flex-direction: row; 
    }
  }

  &__form-headline {
    margin: 0;
    padding-right: 60px;

    &--sign {
      margin: 0;
      padding: 0;
    }

    &--name {
      margin: 0;
      padding-top: 32px;
      padding-bottom: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.02em;

      @media (min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 0;
        font-size: 24px;
        line-height: 50px;
      }
    }

    &--contacts {
      margin: 0;
      padding-bottom: 28px;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.02em;

      @media (min-width: 768px) {
        padding-bottom: 38px;
        font-size: 24px;
      }
    }
  }

  &__form-icons {
    margin: 0;
    padding: 0;

    &--vk {
      margin: 0;
      padding-right: 15px;
    }

    &--whatsapp {
      margin: 0;
      padding-right: 15px;
    }

    &--facebook {
      margin: 0;
      padding: 0;
    }
  }

  &__form-icons svg {
    fill: #fff;
  }

  &__form-icons svg:hover {
    fill: $red;
  }

  &__formletter {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 54px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 146.28%;
    color: #F2F2F2;

    @media (min-width: 768px) {
      padding-top: 0;
    }
  }

  &__formletter-textarea {
    width: 100%;
    height: 130px;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    background-color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
  }

  &__formletter-checkin {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding-top: 33px;
  }

  &__formletter-personal {
    width: 100%;
    margin-bottom: 38px; 
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (min-width: 800px) {
      flex-direction: row;
    }

    &--name {
      width: 100%;
      margin-right: 0;
      padding-bottom: 36px;

      @media (min-width: 800px) {
        margin-right: 23px;
        padding-bottom: 0;
      }
    }

    &--namefield {
      width: 100%;
      height: 38px;
      margin: 0;
      padding: 0;
      background-color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
    }

    &--tel {
      width: 100%;
    }

    &--telfield {
      width: 100%;
      height: 38px;
      background-color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
    }
  }

  &__formletter-consent {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
      width: 48%;
    }
    
    &--btn {
      width: 100%;
      height: 45px;
      margin: 0;
      padding: 0;
      background-color: #FF4343;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: white;
    }

    &--btn:hover {
      outline: 0;
      background-color: #fff;
      color: #000;
      font-size: 15px;
      letter-spacing: 0.15em;
    }

    &--confirm,
    &--confirm span {
      width: 100%;
      margin-bottom: 17px;
      padding: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 146.28%;
    }
  }

  &__form-success {
    display: none;
    position: absolute;
    width: 80%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    z-index: 100;

    @media (min-width: 768px) {
      height: 604px;
    }

    &--text {
      margin: 0;
      padding: 0 10px; 
      padding-bottom: 66px;
      color: #4F4F4F;
    }

    &--name {
      margin: 0;
      padding-bottom: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 51px;
      text-align: center;

      @media (min-width: 768px) {
        padding-bottom: 118px;
        font-size: 42px;
      }
    }

    &--sign {
      margin: 0;
      padding: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 180%;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    &--btn {
      width: 70%;
      height: 45px;
      background-color: #000;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 146.28%;
      letter-spacing: 0.3em;
      color: #E0E0E0;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 288px;
        font-size: 15px;
      }
    }
  }

  &__form-content {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.personal {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: white;
  
  & span {
    text-decoration-line: underline; 
  }
}

.input-validation-error {
  border: 2px solid $red;
}

.field-validation-error {
  color: $red;
}

.modal {

  &--open {
    display: flex;
    
  }

  &__dialog {
    display: flex;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 10px;
    background-color: #fff;

    &--close {
      position: absolute;
      margin: 0;
      padding: 0;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
    }

    &--close:before, &--close:after {
      position: absolute;
      content: ' ';
      right: 14px;
      top: 2px;
      height: 24px;
      width: 3px;
      background-color: #000;
      cursor: pointer;
    }

    &--close:before {
      transform: rotate(45deg);
    }
    
    &--close:after {
      transform: rotate(-45deg);
    }

    &--btn {
      width: 70%;
      height: 45px;
      margin-bottom: 60px;
      background-color: #000;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 146.28%;
      letter-spacing: 0.3em;
      color: #E0E0E0;
      cursor: pointer;

      @media (min-width: 768px) {
        width: 288px;
        font-size: 15px;
        margin-bottom: 117px;
      }
    }

    &--btn:hover {
      color: $red;
    }
  }

  &__content-text {
    width: 90%;
    margin: 0 auto;
    padding-top: 97px;
    padding-bottom: 70px;

    @media (min-width: 768px) {
      width: 60%;
      padding-bottom: 140px;
    }

    &--name {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;

      @media (min-width: 768px) {
        font-size: 42px;
        line-height: 49px;
      }
    }

    &--sign {
      text-align: left;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;

      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 193.78%;
      }
    }

    &--paragraph {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;

      @media (min-width: 768px) {
        font-size: 22px;
        line-height: 193.78%;
      }
    }
}

.overlay {
  background: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  display: none;
}
}