.feedback {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 112px;
  margin-bottom: 189px;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;

  &__form {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: auto;
  }

  &__form-headline {
    width: 40%;

    &--sign {
    }
    &--name {
    }
    &--contacts {
    }
  }

  &__form-icons {
  }

  &__formletter {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__formletter-textarea {
    width: 100%;
    height: 130px;
    margin-bottom: 43px; 
    padding: 0;
    border: 1px solid white;
    background-color: #000;
  }

  &__formletter-checkin {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__formletter-personal {
    width: 100%;
    margin-bottom: 43px; 
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &--name {
      width: 100%;
      margin-right: 23px;
      padding: 0;
    }

    &--namefield {
      width: 100%;
      height: 38px;
      margin: 0;
      padding: 0;
      background-color: #000;
    }

    &--tel {
      width: 100%;
    }

    &--telfield {
      width: 100%;
      height: 38px;
      background-color: #000;
    }
  }
  &__formletter-consent {
    width: 48%;
    display: flex;
    flex-direction: column;
    
    &--btn {
      width: 100%;
      height: 45px;
      margin-bottom: 14px;
      padding: 0;
      background-color: #FF4343;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.15em;
      color: white;
    }
    &--confirm {
      width: 100%;
    }
  }

  &__modal {
    display: none;
  }
}

.modal {

  &--open {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  &__dialog {
    display: flex;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    position: relative;
    color: black;
    font-size: 50px;
    padding: 10px;
    
    background-color: #fff;

    &--btn {
      position: absolute;
      top: 10px;
      right: 0;
      font-size: 20px;
      background-color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}

.overlay {
  background: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  display: none;
}

.personal {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: white;
}

.personal span {
  text-decoration-line: underline; 
}