.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
 
  &__icons {
  }

  &__headline {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    margin: 0;
    // background-image: url(../img/Presentation.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: bottom 0px left 0px;
  

    @media (max-width: 768px) {
      position: relative;
    }

    &--name {
      padding-right: 15px;
      padding-left: 20px;
      font-style: normal;
      font-weight: 200;
      font-size: 110px;
      line-height: 97.52%;
      text-transform: uppercase;
      color: #fff;
      z-index: 1;

      @media (max-width: 768px) {
        
        text-align: center;
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 97.52%;
      }
    }
    &--cube {
      width: 73px;
      height: 86px;
      background-color: $red;

      @media (max-width: 768px) {
        position: absolute;
        right: 0;
        top: 40px;
      }
    }
  }

  &__bcg {
    height: 785px;
    // background-image: url(../img/Presentation.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: bottom 0px left 0px;
  
    @media (max-width: 768px) {
      height: 380px;
    }

    &--img {
      width: 100%;
      height: auto;
    }
  }
  
}