.header {
  &__content {
    padding: 50px 0 50px 0;
    margin: 0 auto;
    text-align: center;
  }

  &__headline {
    font-size: 100px;
    color: white;
  }

  &__signature {
    font-size: 18px;
    color: white;
  }
}