.music {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url(../img/music.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 0px right 0px;

  &__inner {
    width: 75%;
    margin: 0 auto;
    padding-top: 64px;

    @media (min-width: 768px) {
      width: 67%;
      padding-top: 175px;
    }
  }

  &__name {
    display: flex;
    width: 100%;
    margin: 0;
    padding-bottom: 36px;

    @media (min-width: 768px) {
      padding-bottom: 44px;
    }
  }

  &__block {
    display: flex;  
    margin: 0 auto;
    flex-direction: column;
  }

  &__track {
    width: 100%;
    display: flex;

    @media (min-width: 768px) {
      width: 540px;
    }
  }

  &__player {
    width: 95%;
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: solid 1px grey;

    &--button {
      width: 25px;
      height: 25px;
      margin-top: 25px;
      background-image: url(../img/play-button-white.png);
      background-size: cover;
      border: none;
      cursor: pointer;
    }

    &--button:hover {
     background-color: white;
    }

    &--title {
      padding: 10px;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 166%;
      color: #E0E0E0;

      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 180%;
      }
    }

    &--controls {
      display: flex;
      margin-top: 16px;
      padding: 0;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    &--duration {
      margin-left: 10px;
      font-size: 13px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__logo {
    margin-top: 82px;
    margin-bottom: 220px;
    padding: 0;

    &--img img:hover {
      margin: 0;
      padding: 0;
      border: 2px solid $red;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

.progressbar {
  width: 80%;
}
