.music {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 136px;
  margin-bottom: 222px;
  color: white;

  &__inner {
    padding-left: 276px;
    padding-right: 164px;
  }

  &__name {
    display: flex;
    width: 100%;
    padding-top: 136px;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
  }

  &__block {
    display: flex;  
    margin: 0 auto;
    flex-direction: column;
  }

  &__track {
    display: flex;
    width: 70%;
  }

  &__player {
    width: 95%;
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: solid 1px grey;

    &--button {
      width: 25px;
      height: 25px;
      margin-top: 25px;
      background-image: url(../img/play-button-white.png);
      background-size: cover;
      border: none;
      cursor: pointer;
    }

    &--button:hover {
     background-color: white;
    }

    &--title {
      padding: 10px;
    }

    &--controls {
      display: flex;
      margin-top: 16px;
      padding: 0;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    &--duration {
      margin-left: 10px;
    }
  }
}

.progressbar {
  width: 80%;
}
