.partners {
  display: flex;
  width: 75%;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  @media (min-width: 768px) {
    width: 67%;
  }

  &__name {


    @media (min-width: 768px) {

    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo-png {
    width: 25%;
    
    padding-bottom: 57px;
    object-fit: contain;
  }
}