.partners {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  &__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
  }
  &__logo {
  }
}