.partners {
  display: flex;
  width: 67%;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  @media (max-width: 768px) {
    width: 75%;
  }

  &__name {


    @media (max-width: 768px) {

    }
  }

  &__logo {
  }
}