.projects {
  display: flex;
  flex-direction: column;

  &__inner {
    margin: 0 auto;
    padding: 0;
    background-color: white;
  }

  &__demo {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__demo-name {
    margin-left: 5%;
    font-size: 50px;
    color: #000;
  }

  &__demo-video {
    display: flex;
    justify-content: center;
  }

  &__demo-iframe {
    width: 90%;
    height: 675px;
  }

  &__demo-signature {
    margin-left: 5%;
    padding-top: 10px;
    color: #000;
    font-size: 25px;
  }

  &__demo-foto{}

  &__demo-gallery {
    margin: 0;
    padding: 0;
  }

  &__demo-impressions {
    display: flex;
    margin-left: 2.5%;
    min-height: 700px;
    flex-direction: row;
    flex-wrap: nowrap;

    &--text {
      width: 50%;
    }
    &--foto {
      width: 57%;
      height: auto;
      background-image: url(../img/project-1.png);
      background-repeat: no-repeat;
      //background-size: cover;
      background-position: bottom 0px right 0px;
    }
  }


  //свернуть div

  &__demo-slide{
    height: 150px;
    background-color: white;
    display:none;
  }

  &__demo-click{
    text-decoration: underline;
    color: #000;
  }
}
