@font-face {
  font-display: swap;
  font-family: 'Prosto One';
  src: url('../fonts/ProstoOne-Regular.woff2') format('woff2');
  src: url('../fonts/ProstoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}