html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  list-style-type: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $font-family;
  background-color: black;
}

h3, h4 {
  color: $red;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;

  @media (max-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
}

a {
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  background-color: #4F4F4F;
}

img {
  height: auto;
}

svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
}


