$red:                 #FF0000;
$grey-bcg:            #E5E5E5;
$white:               #fff;
$black:               #232323;
$green:               #2FA06A;
$greyText:            #6D6D6D;

$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Prosto One', sans-serif;
